.ts-services-bg {
  background-image: url('/assets/img/patterns/grid-tile-light.svg');
  background-size: 240px 240px;
  background-position: center;
  background-attachment: fixed;
}

.ts-portfolio-bg {
  background-image: url('/assets/img/patterns/herringbone-subtle.svg');
  background-size: 320px 160px;
  background-position: center;
}

.ts-portfolio-img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.icon-inline {
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}
